* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v419_760 {
  width: 100%;
  height: 1400px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v832_93 {
  width: 165px;
  height: 26px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 622px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v832_92 {
  width: 104px;
  height: 23px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 446px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v832_91 {
  width: 103px;
  height: 25px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 247px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v832_96 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 272px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v832_97 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 458px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v832_98 {
  width: 136px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 635px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v419_761 {
  width: 716px;
  height: 468px;
  background: url("../images/v419_761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 45px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v419_764 {
  width: 261px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 135px;
  left: 247px;
  font-family: Merriweather Sans;
  font-weight: ExtraBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v419_765 {
  width: 130px;
  height: 133px;
  background: url("../images/v419_765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v419_767 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 73px;
  left: 23px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v419_769 {
  width: 550px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 172px;
  left: 130px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v419_778 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 734px;
  left: 339px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v423_68 {
  width: 626px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 772px;
  left: 90px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v426_87 {
  width: 319px;
  height: 153px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 811px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v453_116 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 184px;
  left: 867px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_81 {
  width: 319px;
  height: 153px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 811px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v453_83 {
  width: 319px;
  height: 153px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 811px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v453_85 {
  width: 319px;
  height: 143px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 658px;
  left: 811px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v453_87 {
  width: 319px;
  height: 153px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 814px;
  left: 811px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v453_89 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 827px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_98 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 989px;
  border-radius: 50%;
}
.v453_100 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 1002px;
  border-radius: 50%;
}
.v453_102 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 1016px;
  border-radius: 50%;
}
.v453_104 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 1029px;
  border-radius: 50%;
}
.v453_106 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 1043px;
  border-radius: 50%;
}
.v453_114 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 184px;
  left: 961px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_117 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 367px;
  left: 827px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_120 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 858px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_122 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 961px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_130 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 989px;
  border-radius: 50%;
}
.v453_131 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 1002px;
  border-radius: 50%;
}
.v453_132 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 1016px;
  border-radius: 50%;
}
.v453_133 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 1030px;
  border-radius: 50%;
}
.v453_134 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 1043px;
  border-radius: 50%;
}
.v453_136 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 549px;
  left: 830px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_139 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 870px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_147 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 989px;
  border-radius: 50%;
}
.v453_148 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 1002px;
  border-radius: 50%;
}
.v453_149 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 1016px;
  border-radius: 50%;
}
.v453_150 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 1029px;
  border-radius: 50%;
}
.v453_151 {
  width: 10px;
  height: 10px;
  background: linear-gradient(rgba(255,246,239,1), rgba(212,163,115,1));
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 1042px;
  border-radius: 50%;
}
.v453_153 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 961px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_156 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 705px;
  left: 832px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_141 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 989px;
  border-radius: 50%;
}
.v453_142 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1002px;
  border-radius: 50%;
}
.v453_143 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1016px;
  border-radius: 50%;
}
.v453_144 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1030px;
  border-radius: 50%;
}
.v453_145 {
  width: 10px;
  height: 10px;
  background: linear-gradient(rgba(255,246,239,1), rgba(212,163,115,1));
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1044px;
  border-radius: 50%;
}
.v453_158 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 679px;
  left: 961px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_160 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 679px;
  left: 860px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_163 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 865px;
  left: 828px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_165 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 841px;
  left: 860px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v453_173 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 989px;
  border-radius: 50%;
}
.v453_174 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 1002px;
  border-radius: 50%;
}
.v453_175 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 1015px;
  border-radius: 50%;
}
.v453_176 {
  width: 10px;
  height: 10px;
  background: rgba(212,163,115,1);
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 1030px;
  border-radius: 50%;
}
.v453_177 {
  width: 10px;
  height: 10px;
  background: linear-gradient(rgba(255,246,239,1), rgba(212,163,115,1));
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 1044px;
  border-radius: 50%;
}
.v453_179 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 841px;
  left: 960px;
  font-family: Merriweather Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v477_168 {
  width: 30px;
  height: 30px;
  background: url("../images/v477_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 827px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v477_234 {
  width: 30px;
  height: 30px;
  background: url("../images/v477_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 828px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v477_241 {
  width: 30px;
  height: 30px;
  background: url("../images/v477_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 828px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v477_248 {
  width: 30px;
  height: 30px;
  background: url("../images/v477_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 670px;
  left: 828px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v477_251 {
  width: 30px;
  height: 30px;
  background: url("../images/v477_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 829px;
  left: 828px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v515_95 {
  width: 40px;
  height: 40px;
  background: url("../images/v515_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 25px;
  overflow: hidden;
}
.name {
  color: #fff;
}
